body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
    box-sizing: border-box;
}

#main {
    div {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        nav {
            background: black;
            padding: 0;
            margin: 0;
            width: 100%;
            margin-bottom: 20px;
        }

        div {
            width: 33%;
            margin-bottom: 50px;
        }
    }
}

.active {
    color: pink;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    color: white;
}

.post-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.blog-post {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
}